<div class="grid-container">
  <h1 class="mat-h1">My LSL Scripts</h1>

  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.executionId}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
        <td mat-cell *matCellDef="let row">{{row.start | date: "dd.MM.yyyy HH:mm:ss"}}</td>
      </ng-container>
  
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
        <td mat-cell *matCellDef="let row">{{row.end | date: "dd.MM.yyyy HH:mm:ss"}}</td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onResults(row)">
              <mat-icon>list</mat-icon>
              <span>Results</span>
            </button>
            <button mat-menu-item (click)="onOpenScript(row)">
              <mat-icon>code</mat-icon>
              <span>LSL Script</span>
            </button>
            <button mat-menu-item (click)="onSrm(row)">
              <mat-icon>table</mat-icon>
              <span>SRM</span>
            </button>
            <button mat-menu-item (click)="onDatabase(row)">
              <mat-icon>table</mat-icon>
              <span>Database</span>
            </button>
            <button mat-menu-item (click)="onWorkspace(row)">
              <mat-icon>folder</mat-icon>
              <span>Workspace</span>
            </button>
            <button mat-menu-item (click)="onDFS(row)">
              <mat-icon>folder</mat-icon>
              <span>DFS</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        [length]="dataSource.data.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
  </div>

</div>
