ignite/
activemq-data/
.idea/
target/
.classpath
.project
.classpath
.settings/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.scg

#IntelliJ
*.iml
/.idea/
