<div class="container">

    <div class="col-12">
        <div class="alert alert-info mt-3 mb-0"><a href="https://apacheignite-sql.readme.io/docs/sql-reference-overview" target="_blank">Show SQL Syntax supported by Ignite</a></div>
    </div>

    <div class="col-12">
        <ngx-monaco-editor style="height: 150px; margin-top: 1%" [options]="editorOptions" (onInit)="onInit($event)" [(model)]="editorModel"></ngx-monaco-editor>
    </div>

    
      <div class="col-12">
              <div class="input-group mb-3">
                  <button type="button" class="btn btn-primary" (click)="query()">Query</button>
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Execution</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Execution ID" aria-label="ExecutionId" aria-describedby="basic-addon1" [(ngModel)]="executionId">
                  <button type="button" class="btn btn-info" (click)="changeSQL(null)">Tables</button>
                  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ng-template [ngIf]="tables">
                          <div class="dropdown-menu">
                                  <a *ngFor="let table of tables" class="dropdown-item" (click)="changeSQL(table)">{{table}}</a>
                                </div>
                    </ng-template>
                </div>
      </div>
  

    <div class="col-12 scrollDivClass" *ngIf="databaseSqlStatements">
      <div class="list-group">
        <button type="button" (click)="changeStatement(i)" class="list-group-item list-group-item-action" *ngFor="let statement of databaseSqlStatements.concat().reverse(); let i = index">{{i + 1}}. {{statement}}</button>
      </div>
  </div>

    <div class="col-12">
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </div>

    <div class="col-12">
        <ngx-datatable  *ngIf="rows"
        class="bootstrap"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        columnMode="force"
        [headerHeight]="40"
        [summaryRow]="true"
        [summaryPosition]="'bottom'"
        [footerHeight]="50"
        [limit]="pageSize"
        [rowHeight]="50"
        [reorderable]="reorderable"
        [loadingIndicator]="true"
        [scrollbarH]="true"
          >
          <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <span>
                <a class="btn btn-link" *ngIf="column.name === 'SYSTEM' || column.name === 'ABSTRACTION'" href="./cache/{{executionId}}/db:{{reportId}}/{{row['action']}}/{{row['abstraction']}}/{{row['system']}}/{{row['datasource']}}/{{row['permid']}}" target="_blank"><p><span class="badge badge-info">Cache</span></p></a>
                <a class="btn btn-link" *ngIf="column.name === 'SYSTEM' || column.name === 'ABSTRACTION'" href="./datasource/{{row['datasource']}}/{{value}}" target="_blank"><p>{{value}}</p></a>

                <!-- FIXME deprecated?-->
                <a class="btn btn-link" *ngIf="column.name === 'SYSTEMID'" href="./datasource/mavenCentral2020/{{value}}" target="_blank"><p>{{value}}</p></a>

                <p *ngIf="!(column.name === 'SYSTEM')">{{value}}</p>
              </span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>

      <div class="col-12">
        <p></p>
        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" (click)="toCSV()">Download CSV</button>
              <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
                Show '{{pageSize}}'
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="setPageSize(10)">10</a>
                <a class="dropdown-item" (click)="setPageSize(25)">25</a>
                <a class="dropdown-item" (click)="setPageSize(50)">50</a>
                <a class="dropdown-item" (click)="setPageSize(100)">100</a>
              </div>
          </div>
  </div>

        <div class="alert alert-warning mt-3 mb-0">Note: non-alphanumeric characters in column names are unsupported in the table widget, hence actual column names may be different !</div>
    </div>
</div>