<div class="row">
    <div class="col-12">
        <h2>Master Log</h2>
    </div>
    
    <div class="col-12">
        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <a role="button" class="btn btn-primary" href="./log">Refresh</a>
               </div>
        </div>
    </div>
    <div class="col-12">
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </div>

    <div class="col-12" *ngIf="logResponse">
        <h2>Log ({{now}})</h2>
        <ul class="list-group">
            <li class="list-group-item py-1 overflow-auto" *ngFor="let log of logResponse">
                {{log}}
            </li>
        </ul>
    </div>
  </div>