<ngx-smart-modal identifier="myModal">
        <h5>Action Dependency Graph</h5>
        <ngx-graph
          layout="dagre"
          [nodes]="this.nodes"
          [links]="this.edges"
          [draggingEnabled]="true"
          [curve]="curve"
          [enableZoom]="true"
          [minZoomLevel]="0.2"
          [maxZoomLevel]="1"
          [autoCenter]="true"
          [layoutSettings]="{
            orientation: 'LR',
            marginX: 5,
            marginY: 5,
            edgePadding: 100,
            rankPadding: 100,
            nodePadding: 30,
            multigraph: true,
            compound: true,
            align: 'UL'
          }"
        >
          <ng-template #defsTemplate>
            <svg:marker
              id="arrow"
              viewBox="0 -5 10 10"
              refX="8"
              refY="0"
              markerWidth="10"
              markerHeight="10"
              orient="auto"
            >
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
          </ng-template>
      
          <ng-template #nodeTemplate let-node>
            <svg:g
              class="node"
              ngx-tooltip
              [tooltipPlacement]="'top'"
              [tooltipType]="'tooltip'"
              [tooltipTitle]="node.label"
            >
              <svg:rect
                [attr.width]="node.dimension.width"
                [attr.height]="node.dimension.height"
                [attr.fill]="node.data.color"
              />
              <svg:text
                alignment-baseline="central"
                [attr.x]="5"
                [attr.y]="node.dimension.height / 2"
              >
                {{ node.label }}
              </svg:text>
            </svg:g>
          </ng-template>
      
          <ng-template #linkTemplate let-link>
            <svg:g class="edge">
              <svg:path
                class="line"
                stroke-width="2"
                marker-end="url(#arrow)"
              ></svg:path>
              <svg:text class="edge-label" text-anchor="middle">
                <textPath
                  class="text-path"
                  [attr.href]="'#' + link.id"
                  [style.dominant-baseline]="link.dominantBaseline"
                  startOffset="50%"
                >
                  {{ link.label }}
                </textPath>
              </svg:text>
            </svg:g>
          </ng-template>
        </ngx-graph>
      </ngx-smart-modal>

      <div class="container">
        <div class="row">
            <div class="col-12">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                              <button type="button" class="btn btn-primary" (click)="executeScript(null)">Execute</button>
                              <button type="button" class="btn btn-primary" (click)="executeScript('DRAFT')">Save Draft</button>
                              <!-- <button class="btn btn-info" (click)="openModal(); fitGraph()">
                                Graph
                              </button> -->
                              <button type="button" class="btn btn-info" (click)="newStudy()">New Study</button>
                              
                              <div class="dropdown">
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Add Action <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ng-template [ngIf]="infoResponse">
                                      <div class="dropdown-menu">
                                              <a class="dropdown-item" (click)="addAction(null)">Empty Action</a>
                                              <div class="dropdown-divider"></div>
                                              <a class="dropdown-item" (click)="addSelectAction()">Select Action</a>
                                              <div class="dropdown-divider"></div>
                                              <a *ngFor="let actionInfo of infoResponse.actions | keyvalue" class="dropdown-item" (click)="addAction(actionInfo)">{{actionInfo.key}}</a>
                                            </div>
                                </ng-template>
                              </div>

                              <div class="dropdown">
                                <button type="button" id="dropdownMenuLink" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Add Data Source <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ng-template [ngIf]="datasourceResponse">
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                              <a *ngFor="let info of datasourceResponse.dataSources | keyvalue" class="dropdown-item" title="{{info.value.description}}" (click)="addDataSource(info.value)">{{info.value.name}}</a>
                                            </div>
                                </ng-template>
                            </div>

                            </div>
                            <div class="input-group">
                                    <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="fileProgress($event)">
                                            <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">{{selectedFile}}</label>
                                          </div>
                                          <div class="input-group-append">
                                            <span class="input-group-text" id="inputGroupFileAddon02" (click)="uploadFile()">Upload</span>
                                          </div>
                            </div>
                    </div>
            </div>
            <div class="col-12">
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </div>
            <div class="col-12">
                <ngx-monaco-editor style="height: 600px; margin-top: 1%" [options]="editorOptions" (onInit)="onInit($event)" [(model)]="editorModel"></ngx-monaco-editor>
            </div>

            <div class="col-12">
                <div class="alert alert-info mt-3 mb-0"><a href="https://code.visualstudio.com/docs/getstarted/tips-and-tricks" target="_blank">Shortcuts </a>Press F1 for commands, CTRL+SPACE for suggestions</div>
            </div>
        </div>
    </div>
    