<div class="container">
    <div class="row">
            <div class="col-12">
                    <h2>{{csvPath}} <span *ngIf="dataHeader" class="badge badge-info">{{dataRows.length}} Rows</span></h2>
            </div>
            <div class="col-12">
                    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Show '{{pageSize}}'
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" (click)="setPageSize(10)">10</a>
                                              <a class="dropdown-item" (click)="setPageSize(25)">25</a>
                                              <a class="dropdown-item" (click)="setPageSize(50)">50</a>
                                              <a class="dropdown-item" (click)="setPageSize(100)">100</a>
                                            </div>
                                          </div>
                            </div>
                    </div>
            </div>
            <div class="col-12">
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
        <div class="col-12" *ngIf="!rows">
                <div class="table-responsive">
                    <table class="table table-hover table-sm" *ngIf="dataHeader">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col" *ngFor="let col of dataHeader">{{col}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let row of dataRows | paginate: { id: 'csv',
                            itemsPerPage: pageSize,
                            currentPage: p}">
                            <td *ngFor="let col of row; let rowIndex = index">{{col}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
        </div>
        <div class="col-12" *ngIf="!rows">
            <pagination-controls id="csv" (pageChange)="p = $event"></pagination-controls>
        </div>

        <div class="col-12">
                <ngx-datatable  *ngIf="rows"
                class="bootstrap"
                [rows]="rows"
                [loadingIndicator]="loadingIndicator"
                [columns]="columns"
                columnMode="force"
                [headerHeight]="40"
                [summaryRow]="true"
                [summaryPosition]="'bottom'"
                [footerHeight]="50"
                [limit]="pageSize"
                [rowHeight]="50"
                [reorderable]="reorderable"
                [loadingIndicator]="true"
                [scrollbarH]="true"
                  >
                  <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                      <span>
                        <a class="btn btn-link" *ngIf="column.name === 'SYSTEM' || column.name === 'ABSTRACTION'" href="./cache/{{executionId}}/{{reportId}}/{{row['action']}}/{{row['abstraction']}}/{{row['implementation']}}/{{row['datasource']}}/{{row['permid']}}" target="_blank"><p><span class="badge badge-info">Cache</span></p></a>
                        <a class="btn btn-link" *ngIf="column.name === 'SYSTEM' || column.name === 'ABSTRACTION'" href="./datasource/{{row['datasource']}}/{{value}}" target="_blank"><p>{{value}}</p></a>

                        
                        <p *ngIf="!(column.name === 'SYSTEM')">{{value}}</p>
                      </span>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
    </div>

</div>