<nav class="navbar navbar-expand-md bg-dark navbar-dark navbar-static-top">
    <a class="navbar-brand" routerLink="/home"><img width="36" height="24" alt="Home" src="assets/img/lasso_logo_0.png"><small> LASSO</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/editor">Editor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/scripts">My Scripts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/actions">Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search</a>
      </li>

        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Documentation
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/content/gettingstarted">Getting Started</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/content/about">About LASSO</a>
                </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dashboard
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/cluster">Cluster Health</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/log">Master Log</a>
          </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>


</nav>  