.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

.styled-table thead tr {
  background-color: #3f51b5;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #3f51b5;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #3f51b5;
}

.chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  background: rgba(187, 67, 67, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.chat-fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 2;
}