<div class="container">
        <div class="row">
                <div class="col-12">
                        <h2>Your Scripts Submitted</h2>
                </div>
                <div class="col-12">
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                  <a role="button" class="btn btn-primary" href="./scripts">Refresh</a>
                                </div>
                                <div *ngIf="error" class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                </div>
                        </div>
                </div>
                <div class="col-12">
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </div>
            <div class="col-12">
                    <table class="table table-hover" *ngIf="scriptInfos">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Execution ID</th>
                                <th scope="col">Study Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                                <th scope="col">Workspace</th>
                                <th scope="col">Script</th>
                                <th scope="col">DB</th>
                                <th scope="col">Results</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let scriptInfo of scriptInfos">
                                <th scope="row">{{scriptInfo.executionId}}</th>
                                <td>{{scriptInfo.name}}</td>
                                <td><span class="badge badge-secondary">{{scriptInfo.status}} <span *ngIf="scriptInfo.status == 'PENDING'" class="spinner-border spinner-border-sm mr-1"></span></span></td>
                                <td>{{scriptInfo.start | date: "dd.MM.yyyy HH:mm:ss"}}</td>
                                <td>{{scriptInfo.end | date: "dd.MM.yyyy HH:mm:ss"}}</td>
                                <td><button *ngIf="scriptInfo.status == 'SUCCESSFUL'" type="button" class="btn btn-primary" (click)="viewRecords(scriptInfo)">View</button></td>
                                <td><button type="button" class="btn btn-primary" (click)="openScript(scriptInfo)">View</button></td>
                                <td><button type="button" class="btn btn-primary" (click)="openQuery(scriptInfo)">Query</button></td>
                                <td><button type="button" class="btn btn-primary" (click)="openSearchResults(scriptInfo)">Show</button></td>
                              </tr>
                            </tbody>
                          </table>
            </div>
        </div>
    
    </div>