<div class="grid-container">
  <h1 class="mat-h1">SRM</h1>

  <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>

  <mat-card>
      <mat-card-header>
        <mat-card-title>View</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <mat-form-field>
          <mat-label>Choose</mat-label>
          <mat-select (selectionChange)="onChangeTable($event)">
            <mat-option [value]="'outputs'">Outputs</mat-option>
            <!-- <mat-option [value]="'sheets'">Stimulus Sheets</mat-option> -->
          </mat-select>
        </mat-form-field>
    </mat-card-actions>
    <mat-card-content>
    </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="loadOutputTable('outputs')">Update</button>
      </mat-card-actions>
    </mat-card>
  
    <br>

    <div id="options">
      <mat-card *ngIf="oracle">
        <mat-card-header>
          <mat-card-title>Output Filter</mat-card-title>
          <mat-card-subtitle>click to apply</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-chip-listbox selectable multiple class="mat-mdc-chip-set-stacked" aria-label="Output Selection">
            <mat-chip-option *ngFor="let o of oracle.manual; index as index;" (selectionChange)="onOutputSelectionChange($event, o, index)" color="accent">
              {{formatOracleRow(o)}}
            </mat-chip-option>
          </mat-chip-listbox>
          <mat-divider></mat-divider>
          <p>Ref. Implementation is '{{getImplementationLabel(oracle.referenceImpl)}}'</p>
        </mat-card-content>
        <mat-card-actions *ngIf="oracle">
          <button mat-button (click)="onFilterByOracleValues()">
            <mat-icon>filter</mat-icon>
            <span>Apply</span>
          </button>
        </mat-card-actions>
      </mat-card>
      </div>

    <br>

    <div *ngIf="error">{{error}}</div>

    <div>
      <table mat-table [dataSource]="data" class="example-container">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef><ng-template [ngIf]="column == 'STATEMENT'">{{getColumnLabel(column)}}</ng-template><button *ngIf="column != 'STATEMENT'" mat-button color="accent" matTooltip="View Code" (click)="openCode(column)">{{getColumnLabel(column)}}</button>
            <button *ngIf="column != 'STATEMENT'" mat-button color="accent" matTooltip="Set as Oracle (Reference Implementation)" (click)="filterByOracle(column)"><mat-icon>filter_vintage</mat-icon></button></th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
        <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
      </mat-paginator>
    </div>

</div>


