<div class="row">
    <div class="col-12">
        <h2>Cluster Dashboard</h2>
    </div>
    
    <div class="col-12">
        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <a role="button" class="btn btn-primary" href="./cluster">Refresh</a>
               </div>
        </div>
    </div>
    <div class="col-12">
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <div *ngIf="metricsResponse" class="alert alert-primary" role="alert">There are '{{metricsResponse.totalNodes}}' nodes in your cluster with an average CPU load of {{metricsResponse.averageCpuLoad}}.</div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cluster Metrics</h5>
          <table class="table table-hover" *ngIf="metricsResponse">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let info of metricsResponse | keyvalue">
                <th scope="row">{{info.key}}</th>
                <th scope="row">{{info.value}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="nodesResponse">
      <div class="card" *ngFor="let node of nodesResponse.nodes; let i = index">
        <div class="card-body">
          <h5 class="card-title">Node '{{node.id}}'</h5>
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let info of node | keyvalue">
                <th scope="row">{{info.key}}</th>
                <th scope="row">{{info.value}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>